html {
    height: 100%;
    background: url(/Content/ufc.jpg) #000000 no-repeat;
    background-size: cover;
}

body {
    padding-top: 25px;
    padding-bottom: 20px;
    background: transparent;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #ffffff;
    padding: 30px;
    opacity: 0.97;
    border-radius: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.validation-summary-errors {
    color: red;
}

.results {
    margin-top: 10px;
}

.results .first-col {
    width: 25%;
}

.results .second-col {
    width: 20%;
}

.results .third-col {
    width: 40%;
}

.results .fourth-col {
    width: 15%;
}

.results .business-col {
    width: 50%;
}

.results .address-col {
    width: 50%;
}

.results thead td {
    padding: 10px;
    background-color: #555555;
    color: #eeeeee;
}

.results tbody td {
    padding: 10px;
    border-bottom: solid 1px #aaaaaa;
}

.col-md-3 {
    margin-bottom: 20px;
}

#submit {
    width: 200px;
    height: 56px;
    font-size: 16px;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.jumbotron {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
